<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Criando usuário</title>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $.ajax({
          url: "http://localhost:5000/get-membros",
          type: "POST",
          dataType: "json",
          data: "",
          success: function (result) {
            //alert("tarefa criado com sucesso!");
            const select = $("#membro-select");
            result.forEach((m) => {
              select.append(
                `<option value="${m._id.$oid}">${m.login}</option>`
              );
            });
            console.log(membros);
            //window.location.href = "/";
            console.log(result);
          },
          error: function (xhr, resp, text) {
            console.log(xhr, resp, text);
          },
        });

        $("#submit").on("click", function () {
          $.ajax({
            url: "http://localhost:5000/create-tarefa",
            type: "POST",
            dataType: "json",
            data: $("#form").serialize(),
            success: function (result) {
              alert(result.mensagem);
              window.location.href = "/";
              console.log(result);
            },
            error: function (xhr, resp, text) {
              console.log(xhr, resp, text);
            },
          });
        });
      });
    </script>
  </head>
  <body>
    <form id="form" action="" method="post">
      Nome: <input type="text" name="nome" value="" size="50" /><br />
      Descrição: <input type="text" name="descricao" value="" size="50" /><br />
      Equipe:
      <select name="equipe_id" id="equipe-select">
        <option value="">--Escolha uma equipe--</option>
      </select>
      <br />
      Membro:
      <select name="membro_id" id="membro-select">
        <option value="">--Escolha um membro--</option>
      </select>
      <br />
      Prazo:
      <input type="datetime-local" id="prazo-input" name="prazo" />
      <input id="submit" type="button" value="Enviar" />
    </form>
  </body>
</html>
