<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Criando usuário</title>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $.ajax({
          url: "http://localhost:5000/get-equipes",
          type: "POST",
          dataType: "json",
          data: "",
          success: function (result) {
            //alert("tarefa criado com sucesso!");
            const select = $("#equipe-select");
            result.forEach((e) => {
              select.append(`<option value="${e._id.$oid}">${e.nome}</option>`);
            });
            console.log(membros);
            //window.location.href = "/";
            console.log(result);
          },
          error: function (xhr, resp, text) {
            console.log(xhr, resp, text);
          },
        });

        $("#submit").on("click", function () {
          $.ajax({
            url: "http://localhost:5000/create-membro",
            type: "POST",
            dataType: "json",
            data: $("#form").serialize(),
            success: function (result) {
              alert(result.mensagem);
              window.location.href = "/";
              console.log(result);
            },
            error: function (xhr, resp, text) {
              console.log(xhr, resp, text);
            },
          });
        });
      });
    </script>
  </head>
  <body>
    <form id="form" action="" method="post">
      Login: <input type="text" name="login" value="" size="50" /><br />
      Senha: <input type="text" name="senha" value="" size="50" /><br />
      Nome: <input type="text" name="nome" value="" size="50" /><br />
      E-mail: <input type="text" name="email" value="" size="50" /><br />
      Equipe:
      <select name="equipe_id" id="equipe-select">
        <option value="">--Escolha uma equipe--</option>
      </select>
      <input type="checkbox" name="admin" /> Admin <br />
      <input id="submit" type="button" value="Enviar" />
    </form>
  </body>
</html>
