<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Alterando usuário</title>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

      // aqui, eu preenchi a tabela das tarefas usando AJAX pra testar (já que no Vue não dá pra passar os dados direto)
      function carregarTarefas() {       
        $.ajax({
          url: "http://localhost:5000/get-tarefas",
          type: "POST",
          dataType: "json",
          data: "",
          success: function (tarefas) {
            const tbody = $("#tarefas-tbody");
            tbody.empty();
            console.log(tarefas);
            tarefas.forEach(tarefa => {

              const linha = `
              <tr>
                <td>${tarefa._id.$oid}</td>
                <td>${tarefa.nome}</td>
                <td>${tarefa.descricao}</td>
                <td>${tarefa.membro_login || ""}</td>
                <td>${tarefa.equipe_nome || ""}</td>
                <td>${tarefa.criacao || ""}</td>
                <td>${tarefa.prazo || ""}</td>
                <td>${tarefa.conclusao || ""}</td>

                <td>
                  <select name="status" class="status-select" data-id="${tarefa._id.$oid}">
                    <option value="A fazer">A fazer</option>
                    <option value="Em execução">Em execução</option>
                    <option value="Concluída">Concluída</option>
                  </select>
                </td>

                
                <td><button class="delete-tarefa-btn" data-id="${tarefa._id.$oid}">DELETE</button></td>
                <td><a href="/update-tarefa?id=${tarefa._id.$oid}"><button class="update-tarefa-btn">UPDATE</button></a></td>
              </tr>
              `;

              tbody.append(linha);
              const selectStatus = tbody.find(`tr:last-child .status-select`);
              selectStatus.val(tarefa.status);
            });


          },
          error: function (xhr, resp, text) {
            console.log("Erro ao carregar tarefas:", xhr, resp, text);
          }
        });
      }


      $(document).ready(function () {
        $("#logout").on("click", function () {
          $.ajax({
            url: "http://localhost:5000/logout",
            type: "POST",
            dataType: "json",
            data: "",
            success: function (result) {
              window.location.href = "/login";

              console.log(result);
            },
            error: function (xhr, resp, text) {
              console.log(xhr, resp, text);
            },
          });
        });
        
        

        carregarTarefas();

        $(".delete-membro-btn").on("click", function () {
          const id = $(this).data("id");
          console.log(`Deletando o membro com id: ${id}`);
          $.ajax({
            url: `http://localhost:5000/delete-membro/${id}`,
            type: "POST",
            dataType: "json",
            data: "",
            success: function (result) {
              window.location.href = "/";
              console.log(result);
            },
            error: function (xhr, resp, text) {
              console.log(xhr, resp, text);
            },
          });
        });

        $(".reset-senha-btn").on("click", function () {
          const id = $(this).data("id");
          console.log(`Deletando o membro com id: ${id}`);
          $.ajax({
            url: `http://localhost:5000/reset-senha/${id}`,
            type: "POST",
            dataType: "json",
            data: "",
            success: function (result) {
              alert(result.mensagem);
              window.location.href = "/";
              console.log(result);
            },
            error: function (xhr, resp, text) {
              console.log(xhr, resp, text);
            },
          });
        });

        $(".delete-equipe-btn").on("click", function () {
          const id = $(this).data("id");
          console.log(`Deletando a equipe com id: ${id}`);
          $.ajax({
            url: `http://localhost:5000/delete-equipe/${id}`,
            type: "POST",
            dataType: "json",
            data: "",
            success: function (result) {
              window.location.href = "/";
              console.log(result);
            },
            error: function (xhr, resp, text) {
              console.log(xhr, resp, text);
            },
          });
        });
      });
      $(document).on("change", ".status-select", function () { // Tem que fazer isso porque ele só carrega depois
        // Mudança de status da tarefa
        const id = $(this).data("id");
        const novoStatus = $(this).val();

        console.log("Mudou:", id, novoStatus);

        $.ajax({
          url: `http://localhost:5000/update-status-tarefa/${id}`,
          type: "POST",
          dataType: "json",
          data: { status: novoStatus },
          success: function (resultado) {
            console.log("Status atualizado!", resultado);
            carregarTarefas();
          },
          error: function (xhr, resp, text) {
            console.log("Erro:", xhr, resp, text);
          },
        });
      });
      // Sempre que o elemento for gerado dinamicamente e eu colocar algum evento no JS, preciso deixar eles por fora
      $(document).on("click", ".delete-tarefa-btn", function () {
        const id = $(this).data("id");
        console.log(`Deletando a tarefa com id: ${id}`);
        $.ajax({
          url: `http://localhost:5000/delete-tarefa/${id}`,
          type: "POST",
          dataType: "json",
          data: "",
          success: function (result) {
            window.location.href = "/";
            console.log(result);
          },
          error: function (xhr, resp, text) {
            console.log(xhr, resp, text);
          },
        });
      });
    </script>
  </head>
  <body>
    <button id="logout">SAIR</button>
    <table>
      <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Equipe</th>
        <th>Cargo</th>
        
      </tr>
      {% for membro in membros %}
      <tr>
        <td>{{ membro._id }}</td>
        <td>{{ membro.login }}</td>
        <td>{{ membro.nome }}</td>
        <td>{{ membro.email }}</td>
        <td>{{ membro.equipe_nome }}</td>
        <td>{{ membro.auth }}</td>
        {% if session.auth == "admin" %}
        <td>
          <button class="delete-membro-btn" data-id="{{ membro._id }}">DELETE</button>
        </td>
        <td>
          <a
            href="/update-membro?id={{ membro._id }}"
            ><button class="update-membro-btn">UPDATE</button></a
          >
        </td>
        <td>
          <button class="reset-senha-btn" data-id="{{ membro._id }}">RESET</button>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    <a href="/create-membro"><button>CRIAR MEMBRO DA EQUIPE</button></a>
  </br>
  </br>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Responsável</th>
          <th>Equipe</th>
          <th>Criação</th>
          <th>Prazo</th>
          <th>Conclusão</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="tarefas-tbody">
        <!-- Teste com AJAX -->
      </tbody>
      
    </table>
    <a href="/create-tarefa"><button>CRIAR TAREFA</button></a>
  </br>
  </br>
    <table>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
      </tr>
      {% for equipe in equipes %}
      {% if not equipe.conclusao %}
      <tr>
        <td>{{ equipe._id }}</td>
        <td>{{ equipe.nome }}</td>
        <td>{{ equipe.descricao }}</td>
        {% if session.auth == "admin" %}
        <td>
          <button class="delete-equipe-btn" data-id="{{ equipe._id }}">DELETE</button>
        </td>
        <td>
          <a
            href="/update-equipe?id={{ equipe._id }}"
            ><button class="update-equipe-btn">UPDATE</button></a
          >
        </td>
        {% endif %}
        
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    <a href="/create-equipe"><button>CRIAR EQUIPE</button></a>
  </body>
</html>
