<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Alterando usuário</title>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#logout").on("click", function () {
          $.ajax({
            url: "http://localhost:5000/logout",
            type: "POST",
            dataType: "json",
            data: "",
            success: function (result) {
              window.location.href = "/login";

              console.log(result);
            },
            error: function (xhr, resp, text) {
              console.log(xhr, resp, text);
            },
          });
        });

        $(".delete-btn").on("click", function () {
          const id = $(this).data("id");
          console.log(`Deletando o membro com id: ${id}`);
          $.ajax({
            url: `http://localhost:5000/delete-membro/${id}`,
            type: "POST",
            dataType: "json",
            data: "",
            success: function (result) {
              window.location.href = "/";
              console.log(result);
            },
            error: function (xhr, resp, text) {
              console.log(xhr, resp, text);
            },
          });
        });
      });
    </script>
  </head>
  <body>
    <button id="logout">SAIR</button>
    <table>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>E-mail</th>
      </tr>
      {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario._id }}</td>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.email }}</td>
        <td>
          <button class="delete-btn" data-id="{{ usuario._id }}">DELETE</button>
        </td>
      </tr>
      {% endfor %}
    </table>
    <a href="/create"><button>CRIAR MEMBRO DA EQUIPE</button></a>
  </body>
</html>
