<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Alterando usuário</title>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        const params = new URLSearchParams(window.location.search);

        const id = params.get("id");

        $.ajax({
          url: "http://localhost:5000/get-equipes",
          type: "POST",
          dataType: "json",
          data: "",
          success: function (result) {
            //alert("tarefa criado com sucesso!");
            const select = $("#equipe-select");
            result.forEach((e) => {
              select.append(`<option value="${e._id.$oid}">${e.nome}</option>`);
            });
            //window.location.href = "/";
            console.log(result);
          },
          error: function (xhr, resp, text) {
            console.log(xhr, resp, text);
          },
        });

        function preencherMembros(callback) {
          $.ajax({
            url: "http://localhost:5000/get-membros",
            type: "POST",
            dataType: "json",
            data: { equipe_id: $("#equipe-select").val() },
            success: function (result) {
              //alert("tarefa criado com sucesso!");
              const select = $("#membro-select");
              result.forEach((m) => {
                select.append(
                  `<option value="${m._id.$oid}">${m.login}</option>`
                );
              });
              //window.location.href = "/";
              console.log(result);

              if (callback) callback(); // Precisa usar esse callback, senão ele não espera preencher e tenta já selecionar quando pega os dados
            },
            error: function (xhr, resp, text) {
              console.log(xhr, resp, text);
            },
          });
        }

        $("#equipe-select").on("change", function () {
          console.log($("#equipe-select").val());
          $("#membro-select").empty();
          $("#membro-select").append(
            `<option value="">--Escolha um membro--</option>`
          );
          preencherMembros();
        });

        $.ajax({
          url: `http://localhost:5000/get-tarefas/${id}`,
          type: "POST",
          dataType: "json",
          data: "",
          success: function (result) {
            //alert("tarefa criado com sucesso!");

            $("input[name='nome']").val(result.nome);
            $("input[name='descricao']").val(result.descricao);

            $("input[name='email']").val(result.email);
            $("select[name='equipe_id']").val(result.equipe_id.$oid);
            preencherMembros();

            // Preenche os membros, e só depois seleciona
            preencherMembros(function () {
              $("select[name='membro_id']").val(result.membro_id.$oid);
            });
            $("input[name='prazo']").val(result.prazo);

            //window.location.href = "/";
            console.log(result);
          },
          error: function (xhr, resp, text) {
            console.log(xhr, resp, text);
          },
        });

        $("#submit").on("click", function () {
          let arr = $("#form").serializeArray();
          let json_data = {};

          // transforma em objeto
          arr.forEach((item) => (json_data[item.name] = item.value));

          // adiciona o id
          json_data.id = id;
          $.ajax({
            url: "http://localhost:5000/update-tarefa",
            type: "POST",
            dataType: "json",
            data: json_data,
            success: function (result) {
              alert(result.mensagem);
              window.location.href = "/";
              console.log(result);
            },
            error: function (xhr, resp, text) {
              console.log(xhr, resp, text);
            },
          });
        });
      });
    </script>
  </head>
  <body>
    <form id="form" action="" method="post">
      Nome: <input type="text" name="nome" value="" size="50" /><br />
      Descrição: <input type="text" name="descricao" value="" size="50" /><br />
      Equipe:
      <select name="equipe_id" id="equipe-select">
        <option value="">--Escolha uma equipe--</option>
      </select>
      <br />
      Membro:
      <select name="membro_id" id="membro-select">
        <option value="">--Escolha um membro--</option>
      </select>
      <br />
      Prazo:
      <input type="datetime-local" id="prazo-input" name="prazo" />
      <input id="submit" type="button" value="Enviar" />
    </form>
  </body>
</html>
